:root {
  --color-primary: #1d40da;
}

body {
  min-width: 200px;
}

body > div {
  padding: 8px;
}

#placeholder {
  width: 320px;
  display: flex;
}

#words {
  padding: 4px 0;
}

#words label {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.word-container.minused label::after {
  content: "\26D4";
  position: relative;
  right: -0.5em;
}

button:focus {
  outline-color: var(--color-primary);
}

#buttons {
  display: flex;
}

#execute {
  width: 200px;
}
