body {
  min-width: 200px;
}

body > div {
  padding: 8px;
}

#placeholder {
  display: flex;
}
#placeholder #manual-input {
  width: 200px;
}

#app {
  display: none;
}

#words {
  padding: 4px 0;
}

#words label {
  font-size: 18px;
}

button {
  margin: 2px;
}
button:focus {
  outline: 2px solid #2f5cbe;
}

#buttons {
  display: flex;
  justify-content: space-between;
}
#clear {
  background-color: transparent;
  border-color: #575757;
  color: black;
}
#execute {
  font-size: 20px;
  width: 200px;
  padding: 0;
}
